@using BusBoard.Api
@using BusBoard.Web.Models
@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}
<h2>Schedule - @Model.CommonName</h2>
<div class="row">
    <table cellpadding="8">
        <tr>
            <td>
                <b>
                    <a href ="?naptamID=@Model.naptamID&sortBy=Time">
                        Time
                    </a>
                </b>
            </td>
            <td>
                <b> 
                    <a href="?naptamID=@Model.naptamID&sortBy=Destination">
                        Destination
                    </a>
                </b>
            </td>
            <td>
                <b>
                    <a href="?naptamID=@Model.naptamID&sortBy=Direction">
                        Direction
                    </a>
                </b>
            </td>
            <td>
                <b>
                    <a href="?naptamID=@Model.naptamID&sortBy=VehicleID">
                        VehicleID
                    </a>
                </b>
            </td>
        </tr>
        @foreach (Arrival arrival in @Model.Arrivals)
        {
            <tr>
                <td>
                    @arrival.ExpectedArrival.ToShortTimeString()
                </td>
                <td>
                    @arrival.DestinationName
                </td>
                <td>
                    @arrival.Direction
                </td>
                <td>
                    @arrival.VehicleID
                </td>
            </tr>
        }
    </table>
</div>

<marquee scrollamount="20">
    <img src="https://image.freepik.com/free-photo/happy-guy-with-thumb-up-on-white-background_1149-197.jpg" height="180"></img>
    <img src="https://ih1.redbubble.net/image.135305313.7505/flat,1000x1000,075,f.jpg" height="180"></img>
    <img src="https://bbsimg.ngfiles.com/1/22201000/ngbbs4d0d11296e2a9.jpg" height="180"></img>
    <img src="http://plansrunner.com/wp-content/uploads/2015/10/Thumbs-Up-Guy-1.png" height="180"></img>
    <img src="http://www.picdesi.com/upload/comment/congrat/congratulation-043.gif" height="180"></img>
    <img src="http://www.sowhatsallthebuzz.com/wp-content/uploads/2010/06/excited-people.jpg" height="180"></img>
</marquee>